<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>
  <span id="eventsTitle" th:text="'이벤트 테스트 조회'">This is events page</span>
</p>
<table id="eventsTable">
  <thead>
    <tr>
      <th>장소 ID</th>
      <th>이벤트명</th>
      <th>이벤트 상태</th>
      <th>시작 일시</th>
      <th>종료 일시</th>
      <th>현재 인원</th>
      <th>최대 수용 인원</th>
      <th>상세</th>
    </tr>
  </thead>
  <tbody th:remove:remove="all-but-first">
    <tr th:each:each="event : ${events}">
      <td class="placeId" th:text:text="${event.placeId}">1</td>
      <td class="eventName" th:text:text="${event.eventName}">테스트 이벤트</td>
      <td class="eventStatus" th:text:text="${event.eventStatus}">OPENED</td>
      <td class="eventStartDatetime" th:text:text="${event.eventStartDatetime}">2023-01-01 09:00:00</td>
      <td class="eventEndDatetime" th:text:text="${event.eventEndDatetime}">2023-01-01 10:00:00</td>
      <td class="currentNumberOfPeople" th:text:text="${event.currentNumberOfPeople}"></td>
      <td class="capacity" th:text:text="${event.capacity}"></td>
      <td><a>상세</a></td>
    </tr>
  </tbody>
</table>

</body>
</html>